*~
*.swp
*.log

.DS_Store
.idea/
.temp/

dist/
build/
lib/
es/
coverage/
release/

node_modules/

.cache/
out/

.vu*press*/**/config.bundled_*.mjs
**/config.bundled_*.mjs
.vuepress/.temp/
.vuepress/.cache/